@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300&display=swap');

.container {
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
  font-family: 'Fira Code', monospace;
}

.binary-area {
  width: 343px;
  height: 292px;
  text-align: center;
}
